name: 部署文档

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  deploy-gh-pages:
    runs-on: ubuntu-latest
    steps:
      # 1️⃣ checkout
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # 2️⃣ 安装 pnpm，指定版本
      - name: 安装 pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 8

      # 3️⃣ 设置 Node.js，版本和本地一致
      - name: 设置 Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.9.0
          cache: pnpm

      # 4️⃣ 安装依赖
      - name: 安装依赖
        run: pnpm install --frozen-lockfile

      # 5️⃣ 构建文档
      - name: 构建文档
        env:
          NODE_OPTIONS: --max_old_space_size=8192
        run: |
          pnpm run docs:build
          > docs/.vuepress/dist/.nojekyll

      # 6️⃣ 部署到 gh-pages
      - name: 部署文档
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: docs/.vuepress/dist
